html, body, #app {
    height: 100%;
    scroll-behavior: smooth;
}
#loading {
    height: 100%;
    display: flex;
}

#loading div {
    width: 100px;
    height: 100px;
    margin: auto;
}
:root {
    --mud-palette-primary: rgba(10, 0,104, 1) !important;
    --mud-palette-primary-rgb: 10, 0, 104 !important;
    --mud-palette-primary-text: rgba(255, 255, 255, 1) !important;
    --mud-palette-secondary: rgba(255, 255, 255, 1) !important;
    --mud-palette-secondary-rgb: 255, 255, 255 !important;
    --mud-palette-action-default-hover: rgba(0, 0, 0, 0.2) !important;
    --mud-palette-primary-darken: rgb(62, 44, 221) !important;
    --mud-palette-primary-lighten: rgb(118, 106, 231) !important;
    --mud-palette-primary-hover: rgba(89, 74, 226, 0.058823529411764705) !important;
    --mud-palette-secondary-text: rgba(10, 0,104, 1) !important;
    --mud-palette-secondary-darken: #c0b9ff !important;
    --mud-palette-secondary-lighten: rgb(255, 255, 255) !important;
    --mud-typography-default-family: 'Cascadia Code' !important;
    --mud-typography-button-family: 'Cascadia Code' !important;
    --mud-typography-h1-family: 'Cascadia Code' !important;
    --mud-typography-h2-family: 'Cascadia Code' !important;
    --mud-typography-h3-family: 'Cascadia Code' !important;
    --mud-typography-h4-family: 'Cascadia Code' !important;
    --mud-typography-h5-family: 'Cascadia Code' !important;
    --mud-typography-h6-family: 'Cascadia Code' !important;
    --mud-typography-body1-family: 'Cascadia Code' !important;
    --mud-palette-text-primary: #000000 !important;
}

.width-fit-content{
    width:fit-content;
}

/*region layout+navbar*/
.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title-header {
    font-size: 20px;
    text-decoration: none !important;
}

#maincontent {
    flex: 1;
}

.header_computer a {
    position: relative;
}

.header_computer a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header_computer a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
/*endregion*/
/*region home*/
#home-background {
    height: 100%;
    margin-top: -64px;
}

.title-home-page {
    padding-top: 100px;
    height: max-content;
}

.title-home-page h1 {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.home-page-icon-down-arrow {
    position: absolute !important;
    bottom: 0;
    left: 45%;
    right: 45%;
    width: 10% !important;
    font-size: 3rem !important;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.home-buttons {
    margin-top: 15px;
}

.home-buttons button {
    font-size: 15px;
}

.about-me-part div {
    align-content: center;
}

.about-me-part img {
    height: 100% !important;
}

.about-me-part {
    width: 100%;
}

.button-classic {
    font-size: 15px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
/*endregion*/


/*region frame-pages*/
.white-frame {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.background-page {
    width: 100%;
    background-image: url('../images/background_page.jpg');
}

.filter-background-page {
    background-color: #0a006899;
    height: 100%;
}

.div-title-page {
    padding-top: 36px;
    height: max-content;
    padding-bottom: 36px;
}
/*endregion*/

/*projects pages*/
.project-container {
    width: 300px;
    height: 400px;
    border: var(--mud-palette-primary) solid 2px;
    border-radius: 15px !important;
    transition: all .2s ease-in-out !important;
    z-index: 1 !important;
    position: relative;
    background-color: rgba(255,255,255,0.6) !important;
    background-blend-mode: lighten;
    background-size: cover;
}

.project-container:hover {
    transform: scale(1.1);
    z-index: 5 !important;
    box-shadow: var(--mud-elevation-10);
}

.div-buttons-links-project {
    gap: 10px;
    display: flex;
}

.project-container .div-buttons-links-project {
    position: absolute;
    bottom: 12px;
}

.dialog-project .mud-dialog-title {
    padding: 0 !important;
}

.dialog-project .mud-dialog-content {
    margin: 0 !important;
    padding: 24px !important;
}

.dialog-project {
    margin: 20px;
    border-radius: 15px !important;
}

.icon-project-container {
    font-size: 2rem !important;
}

.panel-project-div {
    width: 100%;
    overflow-y: scroll;
    max-height: 80vh;
}

.div-infos-project {
    margin: 10px 0;
}

.div-infos-project div {
    width: 33%;
    text-align: center;
}

.div-infos-project div:not(:first-child) {
    border-left: lightgrey 2px solid;
}

.div-text-project {
    gap: 20px;
    display: grid;
}

.text-project-without-image {
    width: 95%;
    margin: auto !important;
}
/*endregion*/
/*region contact page*/
.white-frame-contact {
    margin-left: 20% !important;
    margin-right: 20% !important;
    padding: 12px !important;
}

.g-recaptcha {
    margin: auto;
    height: 10vh;
    margin-top: 8px;
    margin-bottom: 4px;
}
/*endregion*/

@media (min-width: 901px) {
    .white-frame {
        padding: 50px 12px;
    }
    .header_mobile {
        display: none !important;
    }

    .title-home-page {
        padding-left: 80px !important;
    }
    .about-me-part {
        flex-direction: row !important;
        gap: 20px !important;
    }
    #aboutme-image{
        width:35%;
    }
    #aboutme {
        width: 60%;
        padding-right: 5%;
    }
    .div-text-left-image-right {
        width: 100%;
        margin-top: 20px;
        gap: 5%;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }

    .div-text-right-image-left {
        width: 100%;
        margin-top: 20px;
        gap: 5%;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .div-text, .div-image {
        width: 45%;
        align-content: center;
    }
    .tabs-projects {
        height: 78vh;
    }
    .tabs-projects .mud-tabs-tabbar-inner {
        height: 78vh;
    }
    .searchbar-projects {
        width: 30%
    }
}

@media (max-width: 900px) {
    .white-frame {
        padding: 20px;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .header_computer {
        display: none !important;
    }
    :root {
        --mud-typography-h1-size: 4rem !important;
        --mud-typography-h3-size: 2rem !important;
        --mud-typography-h4-size: 1.5rem !important;
    }
    .about-me-part {
        flex-direction: column !important;
        align-items: center;
        gap: 0 !important;
    }
    #aboutme {
        margin: 0 50px;
    }
    .div-text-left-image-right {
        width: 100%;
        gap: 20px;
        flex-direction: column !important;
    }

    .div-text-right-image-left {
        width: 100%;
        gap: 20px;
        flex-direction: column-reverse !important;
    }
    .div-text, .div-image {
        width: 100%;
    }
    .searchbar-projects {
        width: 100%
    }
}

@media (max-width: 900px) and (min-width: 500px) {
    .title-home-page {
        padding-left: 50px !important;
    }
}

@media (max-width: 500px) {

    .title-home-page {
        padding-left: 20px !important;
    }
}

.mud-nav-link-text {
    color: var(--mud-palette-primary-text) !important;
    font-size: 17px;
}

.mud-drawer-content .mud-icon-root {
    align-self: center;
}

.mud-drawer-content .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    background-color: rgb(0 0 0 / 20%);
}

.navbar a {
    color: white !important;
}

.navbar {
    position: absolute !important;
}


@media (max-width: 640.98px) {
    .navbar-mobile {
        display: flex;
        column-gap: 1rem;
    }

    .navbar-pc {
        display: none;
    }
}

@media (min-width: 641px) {
    .navbar-pc {
        display: flex;
        column-gap: 1rem;
    }

    .navbar-mobile {
        display: none;
    }
}








.footer {
    background-color: var(--mud-palette-primary);
    position: relative;
    width: 100%;
    text-align: center;
    color: black;
    justify-content: center;
    z-index: 2;
    display: grid !important;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(18,15px);
    align-items: center;
    font-family: var(--mud-typography-default-family);
}

.logo-footer-circle {
    grid-column: 4 / 20;
    grid-row: 5 / 7;
}

.logo-footer-text {
    display: none;
}

.footer-text-under-logo {
    grid-column: 4 / 20;
    grid-row: 8 / 8;
}

.contact-button-footer {
    width: fit-content;
    grid-column: 4 / 20;
    grid-row: 12 / 12;
}

.links-pages-footer {
    grid-column: 30 / 38;
    grid-row: 4 / 16;
    text-align: start;
    border-left: #ffffff solid 3px;
    padding-left: 35px;
    height: 100%;
    display: flex;
    align-items: center;
}

    .links-pages-footer ul {
        list-style-type: none;
    }

    .links-pages-footer li {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .links-pages-footer a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2em;
    }

.social-medias-footer {
    grid-column: 40 / 45;
    grid-row: 4 / 16;
    text-align: start;
    border-left: #ffffff solid 3px;
    padding-left: 35px;
    height: 100%;
    display: flex;
    align-items: center;
}

    .social-medias-footer ul {
        list-style-type: none;
    }

    .social-medias-footer li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .social-medias-footer img {
        height: 2.2em;
    }

@media (max-width: 900px) {
    .footer {
        display: block !important;
        height: auto;
    }

    .logo-footer-circle, .footer-text-under-logo {
        text-align: center !important;
    }

    .logo-footer-circle {
        margin-top: 20px !important;
        font-size: 2rem !important;
    }
    .footer-text-under-logo{
        margin-bottom: 10px !important;
    }

    .links-pages-footer {
        text-align: center;
        border-left: none;
        padding-left: 0px;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
    }

        .links-pages-footer ul {
            margin: auto;
        }

    .slogan-footer {
        font-size: 25px;
        margin-bottom: 0px;
        text-align: center;
        margin-bottom: 10px;
    }

    .contact-button-footer {
        display: none !important;
    }

    .links-pages-footer a {
        font-size: 20px;
    }

    .social-medias-footer {
        grid-column: 40 / 45;
        grid-row: 4 / 16;
        text-align: center;
        border-left: none;
        padding-left: 0px;
        height: fit-content;
        display: flex;
        align-items: center;
    }

        .social-medias-footer ul {
            margin: auto;
            display: flex;
            gap: 1rem;
        }

        .social-medias-footer img {
            height: 7vw;
        }

    .footer-copyright {
        width: 95%;
        font-size: 12px;
        margin: auto;
        text-align: center;
        padding-bottom: 8px;
        padding-top: 8px;
    }
}

/*@media only screen and (max-height: 750px) and (max-width: 960px) and (orientation:landscape) {
    .footer {
        grid-template-rows: repeat(20,12px);
    }

    .footer-copyright {
        padding-bottom: 10px;
        font-size: 1.2vw;
    }

    .slogan-footer {
        font-size: 3vh;
    }

    .contact-button-footer a {
        font-size: 3vh;
    }

    .links-pages-footer a {
        font-size: 0.9em;
    }

    .social-medias-footer img {
        height: 1.7em;
    }
}

@media only screen and (min-width: 750px) and (orientation: portrait) {
    .footer {
        grid-template-rows: repeat(20,15px);
    }

    .slogan-footer {
        font-size: 2.5vw;
        grid-column: 2 / 25;
    }

    .contact-button-footer {
        grid-column: 2 / 25;
        padding-top: 1vw;
        padding-bottom: 1vw;
        grid-row: 13 / 15;
    }

        .contact-button-footer a {
            font-size: 2vw;
        }

    .links-pages-footer a {
        font-size: 1em;
    }

    .social-medias-footer img {
        height: 2em;
    }
}*/
