:root {
    --mud-palette-primary: rgba(10, 0,104, 1) !important;
    --mud-palette-primary-rgb: 10, 0, 104 !important;
    --mud-palette-primary-text: rgba(255, 255, 255, 1) !important;
    --mud-palette-secondary: rgba(255, 255, 255, 1) !important;
    --mud-palette-secondary-rgb: 255, 255, 255 !important;
    --mud-palette-action-default-hover: rgba(0, 0, 0, 0.2) !important;
    --mud-palette-primary-darken: rgb(62, 44, 221) !important;
    --mud-palette-primary-lighten: rgb(118, 106, 231) !important;
    --mud-palette-primary-hover: rgba(89, 74, 226, 0.058823529411764705) !important;
    --mud-palette-secondary-text: rgba(10, 0,104, 1) !important;
    --mud-palette-secondary-darken: #c0b9ff !important;
    --mud-palette-secondary-lighten: rgb(255, 255, 255) !important;
    --mud-typography-default-family: 'Cascadia Code' !important;
    --mud-typography-button-family: 'Cascadia Code' !important;
    --mud-typography-h3-family: 'Cascadia Code' !important;
    --mud-typography-body1-family: 'Cascadia Code' !important;
    --mud-palette-text-primary: #000000 !important;
}

.mud-nav-link-text {
    color: var(--mud-palette-primary-text) !important;
    font-size: 17px;
}

.mud-drawer-content .mud-icon-root {
    align-self: center;
}

.mud-drawer-content .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    background-color: rgb(0 0 0 / 20%);
}
.navbar a {
    color: white !important;
}

.navbar {
    position:absolute !important;
}


@media (max-width: 640.98px) {
    .navbar-mobile {
        display: flex;
        column-gap: 1rem;
    }

    .navbar-pc {
        display: none;
    }
}

@media (min-width: 641px) {
    .navbar-pc {
        display: flex;
        column-gap: 1rem;
    }

    .navbar-mobile {
        display: none;
    }
}


.tabs-projects .mud-tabs-tabbar-inner {
    height: 78vh;
}








.footer {
    background-color: var(--mud-palette-primary);
    position: relative;
    width: 100%;
    text-align: center;
    color: black;
    justify-content: center;
    z-index: 2;
    display: grid !important;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(18,15px);
    align-items: center;
}

.logo-footer-circle {
    grid-column: 4 / 20;
    grid-row: 5 / 7;
}

.logo-footer-text {
    display: none;
}

.footer-copyright {
    grid-column: 2 / 50;
    grid-row: 18 / 21;
    border-top: #496A2D solid 3px;
    padding-top: 10px;
    color: #496A2D;
    font-family: Paytone One;
    text-align: start;
}

.footer-text-under-logo {
    grid-column: 4 / 20;
    grid-row: 8 / 8;
}

.slogan-footer {
    font-family: Pacifico;
    color: #496A2D;
    font-size: 2.7vh;
    margin-bottom: 1%;
    text-align: start;
}

.contact-button-footer {
    width: fit-content;
    grid-column: 4 / 20;
    grid-row: 12 / 12;
}

.links-pages-footer {
    grid-column: 30 / 38;
    grid-row: 4 / 16;
    text-align: start;
    border-left: #ffffff solid 3px;
    padding-left: 35px;
    height: 100%;
    display: flex;
    align-items: center;
}

    .links-pages-footer ul {
        list-style-type: none;
    }

    .links-pages-footer li {
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .links-pages-footer a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2em;
    }

.social-medias-footer {
    grid-column: 40 / 45;
    grid-row: 4 / 16;
    text-align: start;
    border-left: #ffffff solid 3px;
    padding-left: 35px;
    height: 100%;
    display: flex;
    align-items: center;
}

    .social-medias-footer ul {
        list-style-type: none;
    }

    .social-medias-footer li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .social-medias-footer img {
        height: 2.2em;
    }

@media only screen and (max-width: 750px) and (orientation:portrait) { /*phone portrait mode*/
    .footer {
        display: block;
        height: auto;
    }

    .logo-footer-circle {
        display: none;
    }

    .logo-footer-text {
        display: block;
        width: 90%;
        margin: auto;
        padding-top: 15px;
    }

    .links-pages-footer {
        text-align: center;
        border-left: none;
        padding-left: 0px;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
    }

        .links-pages-footer ul {
            margin: auto;
        }

    .slogan-footer {
        font-size: 25px;
        margin-bottom: 0px;
        text-align: center;
        margin-bottom: 10px;
    }

    .contact-button-footer {
        display: none;
    }

    .links-pages-footer a {
        font-size: 20px;
    }

    .social-medias-footer {
        grid-column: 40 / 45;
        grid-row: 4 / 16;
        text-align: center;
        border-left: none;
        padding-left: 0px;
        height: fit-content;
        display: flex;
        align-items: center;
    }

        .social-medias-footer ul {
            margin: auto;
            display: flex;
            gap: 1rem;
        }

        .social-medias-footer img {
            height: 7vw;
        }

    .footer-copyright {
        width: 95%;
        font-size: 12px;
        margin: auto;
        text-align: center;
        padding-bottom: 8px;
        padding-top: 8px;
    }
}

@media only screen and (max-height: 750px) and (max-width: 960px) and (orientation:landscape) { /*phone landscape mode*/
    .footer {
        grid-template-rows: repeat(20,12px);
    }

    .footer-copyright {
        padding-bottom: 10px;
        font-size: 1.2vw;
    }

    .slogan-footer {
        font-size: 3vh;
    }

    .contact-button-footer a {
        font-size: 3vh;
    }

    .links-pages-footer a {
        font-size: 0.9em;
    }

    .social-medias-footer img {
        height: 1.7em;
    }
}

@media only screen and (min-width: 750px) and (orientation: portrait) { /*tablet portrait mode*/
    .footer {
        grid-template-rows: repeat(20,15px);
    }

    .slogan-footer {
        font-size: 2.5vw;
        grid-column: 2 / 25;
    }

    .contact-button-footer {
        grid-column: 2 / 25;
        padding-top: 1vw;
        padding-bottom: 1vw;
        grid-row: 13 / 15;
    }

        .contact-button-footer a {
            font-size: 2vw;
        }

    .links-pages-footer a {
        font-size: 1em;
    }

    .social-medias-footer img {
        height: 2em;
    }
}
