@using MudBlazor
<MudItem Class="footer">
    <MudText Typo="Typo.h4" Align="Align.Left" Color="Color.Secondary" Class="logo-footer-circle">Alexandra Baivel</MudText>
    <MudText Typo="Typo.h5" Align="Align.Left" Color="Color.Secondary" Class="footer-text-under-logo">Software developer</MudText>
    <MudButton Class="contact-button-footer" Color="Color.Secondary" Variant="Variant.Filled" Href="/contact">Contact me</MudButton>
            
            <div class='links-pages-footer'>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/education">Education</a></li>
                    <li><a href="/work">Work Experience</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
            </div>
            <div class='social-medias-footer'>
                <ul>
                    <li><MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Secondary" aria-label="github" Href="https://github.com/abaivel" /></li>
                    <li><MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Secondary" aria-label="linkedin" Href="https://www.linkedin.com/in/alexandra-baivel" /></li>
                    <li><MudIconButton Icon="@Icons.Material.Filled.Mail" Color="Color.Secondary" aria-label="main" Href="mailto:abaivel@outlook.fr" /></li>
                </ul>
            </div>
</MudItem>
