@page "/contact"
@using MudBlazor

<PageTitle>Baivel - Contact</PageTitle>
<div style="width:100%;height:100%" id="fond">
	<div style="height:100%;margin-top:-64px;" id="home-background">
		<div style="background-color: #717486bf;">
			<MudItem Class="pl-20" Style="padding-top:100px;height:max-content;padding-bottom: 36px;">
				<MudText Typo="Typo.h3" Style="font-family:'Cascadia Code'" Color="Color.Secondary" Align="Align.Center">Contact</MudText>
			</MudItem>
			<div style="background-color:white;margin-left:10px;margin-right:10px;border-radius:15px;padding:10px">
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			</div>
			<br />
		</div>
	</div>
</div>

