@page "/education"
@using MudBlazor
<PageTitle>Baivel - Education</PageTitle>

<div class="background-page">
	<div class="filter-background-page">
		<MudItem Class="div-title-page">
				<MudText Typo="Typo.h3" Color="Color.Secondary" Align="Align.Center">Education</MudText>
			</MudItem>
			<div class="white-frame">
			<MudItem Class="div-text-left-image-right d-flex justify-space-evenly">
					<MudItem Class="div-text">
						<MudItem Class="pb-5">
							<MudText Typo="Typo.h4" Color="Color.Primary">Master Degree In Computer Science</MudText>
							<MudText Typo="Typo.h6" Color="Color.Primary">2021-2026</MudText>
							</MudItem>
						<MudText Align="Align.Justify" Color="Color.Primary">
							I'v been studying for 3 years and a half at the french engineering school, CY Tech, to get a engineering degree, the equivalent of a master degree. 
							In this school, I've studied C, SQL, Java including JEE even a little bit of Python. 
							I also learned the basics of Linux, of network architecture and of code testing. <br />
							During my classes, I did a few projects that you can find here:
						</MudText>
					<MudButton Color="Color.Secondary" Variant="Variant.Filled" Class="button-classic" Href="/projects">My projects</MudButton>
					</MudItem>
				<MudItem Class="div-image">
						<MudImage Fluid="true" Src="images/campuscytechcergy.jpg" />
					</MudItem>
				</MudItem>
			<br />
			<MudItem Class="div-text-right-image-left d-flex justify-space-evenly">
					<MudItem Class="div-image">
						<MudImage Fluid="true" Src="images/pexels-divinetechygirl-1181675.jpg" />
					</MudItem>
				<MudItem Class="div-text">
						<MudText Align="Align.Justify" Color="Color.Primary">
							In the context of my study, I am in a program where I alternate between weeks of school and weeks of work. I've been in this program for a year and a half. 
							<br />
							I'm working as a software developer half of the time, you can find details about my work here:
						</MudText>
					<MudButton Color="Color.Secondary" Variant="Variant.Filled" Class="button-classic" Href="/work">My work</MudButton>
					</MudItem>
				</MudItem>
			</div>
			<br />
		</div>
</div>
