@page "/education"
@using MudBlazor
<PageTitle>Baivel - Éducation</PageTitle>

<div class="background-page">
	<div class="filter-background-page">
		<MudItem Class="div-title-page">
            <MudText Typo="Typo.h3" Color="Color.Secondary" Align="Align.Center">Éducation</MudText>
		</MudItem>
		<div class="white-frame">
            <MudTimeline Class="mr-8 ml-8">
                <MudTimelineItem Color="Color.Primary" Size="Size.Small">
                    <ItemOpposite>
                        <MudText Color="Color.Primary" Typo="Typo.h5">2023-2026</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudText Color="Color.Primary" Typo="Typo.h6">Diplome d'ingénieur en informatique</MudText>
                        <MudText Color="Color.Primary" GutterBottom="true">CY Tech - Cergy</MudText>
                        <MudText>
                            Apprentissage du SQL, Java dont les bases de JEE, React, Django ainsi que les bases de Linux, de l'architecture réseaux et des tests unitaires en Java avec JUnit.
                            <br />
                            Cycle ingénieur réalisé en alternance en tant que développeuse logiciel à Dupliprint.
                        </MudText>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Color="Color.Primary" Size="Size.Small">
                    <ItemOpposite>
                        <MudText Color="Color.Primary" Typo="Typo.h5">2021-2023</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudText Color="Color.Primary" Typo="Typo.h6">Classe préparatoire intégrée</MudText>
                        <MudText Color="Color.Primary" GutterBottom="true">CY Tech - Cergy</MudText>
                        <MudText>Classe préparatoire intégrée de l'école d'ingénieur CY Tech (ex. EISTI). <br />
                            Apprentissage du C, Script Shell et les bases du développement web en plus de cours de mathématiques et de physique.
                        </MudText>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Color="Color.Primary" Size="Size.Small">
                    <ItemOpposite>
                        <MudText Color="Color.Primary" Typo="Typo.h5">2018-2021</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudText Color="Color.Primary" Typo="Typo.h6">Baccalauréat général <br />Spécialité Mathématiques, Physique-chimie, NSI</MudText>
                        <MudText Color="Color.Primary" GutterBottom="true">Lycée Charles de Gaulle - Poissy</MudText>
                        <MudText>Baccalauréat obtenu avec mention très bien avec les spécialités Mathématiques, Physique-Chimie et NSI ainsi que l'option Mathématiques Expertes</MudText>
                    </ItemContent>
                </MudTimelineItem>
            </MudTimeline>
		</div>
		<br />
	</div>
</div>
