@page "/educationold"
@using MudBlazor
<PageTitle>Baivel - Education</PageTitle>

<div class="background-page">
	<div class="filter-background-page">
		<MudItem Class="div-title-page">
				<MudText Typo="Typo.h3" Color="Color.Secondary" Align="Align.Center">Education</MudText>
			</MudItem>
			<div class="white-frame">
			<MudItem Class="div-text-left-image-right d-flex justify-space-evenly">
					<MudItem Class="div-text">
						<MudItem Class="pb-5">
							<MudText Typo="Typo.h4" Color="Color.Primary">Diplome d'ingénieur en informatique</MudText>
							<MudText Typo="Typo.h6" Color="Color.Primary">2021-2026</MudText>
							</MudItem>
						<MudText Align="Align.Justify" Color="Color.Primary">
							Après mon baccalauréat, j'ai intégré la classe préparatoire intégrée de l'école d'ingénieur CY Tech (ex. EISTI). 
							Une fois les deux ans de classe préparatoire intégrée, j'ai commencé le cycle ingénieur en informatique dans cette même école. 
							J'ai choisi de faire ce cycle ingénieur en apprentissage pour me permettre de monter en compétences. 
							En effet, je suis développeuse logiciel en alternance à Dupliprint.<br />

							A CY Tech, j'ai étudié le C, les bases du développement web, le SQL, le Java dont les bases de JEE. 
							J'ai aussi appris les bases de Linux, de l'architecture réseaux et des tests unitaires.<br />
							Durant mes études, j'ai réalisé quelques projets que vous pouvez trouver ici :
							
						</MudText>
					<MudButton Color="Color.Secondary" Variant="Variant.Filled" Class="button-classic" Href="projects">My projects</MudButton>
					</MudItem>
				<MudItem Class="div-image">
						<MudImage Fluid="true" Src="images/campuscytechcergy.jpg" />
					</MudItem>
				</MudItem>
			<br />
			<MudItem Class="div-text-right-image-left d-flex justify-space-evenly">
					<MudItem Class="div-image">
						<MudImage Fluid="true" Src="images/pexels-divinetechygirl-1181675.jpg" />
					</MudItem>
				<MudItem Class="div-text">
						<MudText Align="Align.Justify" Color="Color.Primary">
							In the context of my studies, I am in a program where I alternate between weeks of school and weeks of work. I've been in this program for a year and a half. 
							<br />
							I'm working as a software developer half of the time, you can find details about my work here:
						</MudText>
					<MudButton Color="Color.Secondary" Variant="Variant.Filled" Class="button-classic" Href="work">My work</MudButton>
					</MudItem>
				</MudItem>
			</div>
			<br />
		</div>
</div>
