@page "/work"
@using MudBlazor

<PageTitle>Baivel - Work Experience</PageTitle>


<div class="background-page">
	<div class="filter-background-page">
		<MudItem Class="div-title-page">
			<MudText Typo="Typo.h3" Color="Color.Secondary" Align="Align.Center">Work Experience</MudText>
		</MudItem>
		<div class="white-frame">
			<MudItem Class="div-text-left-image-right d-flex justify-space-evenly">
				<MudItem Class="div-text">
					<MudItem Class="pb-5">
						<MudText Typo="Typo.h4" Color="Color.Primary">Software Developer</MudText>
						<MudText Typo="Typo.h6" Color="Color.Primary">2023-2026</MudText>
						</MudItem>
					<MudText Align="Align.Justify" Color="Color.Primary">
						In the context of my study, I am in a program where I alternate between weeks of school and weeks of work.
						So, half of the time, I work in a french printing and marketing company called DupliPrint, where I program marketing websites with a team of developpers.<br /><br />
					</MudText>
				</MudItem>
				<MudItem Class="div-image">
					<MudImage Fluid="true" Src="images/dupliprint.jpg" />
				</MudItem>
			</MudItem>
			<br/>
			<MudItem Class="div-text-right-image-left d-flex justify-space-evenly">
				<MudItem Class="div-image">
					<MudImage Fluid="true" Src="images/linkedcard4.png" />
				</MudItem>
				<MudItem Class="div-text">
					<MudText Align="Align.Justify" Color="Color.Primary">
						@*The application I program allows the users to create digital business cards. 
						It is made for businnesses, the application allows them to control the digital cards of their employees.<br /><br />*@
							I've been working on one specific project, a PWA (Progressive Web Application) to create digital business cards.
							The application I program allows the users to create digital business cards.
							It is made for businnesses, the application allows them to control the digital cards of their employees.<br/><br/>
						I've developped a few majors features in this application and I'm now able of doing it without help. I can to the frontend as well as the backend.<br /><br />
					</MudText>
				</MudItem>
			</MudItem>
			<br />
			<MudItem Class="div-text-left-image-right d-flex justify-space-evenly">
				<MudItem Class="div-text">
					<MudText Align="Align.Justify" Color="Color.Primary">
						We program this application in C# by using Blazor and MudBlazor for the frontend and by using a ASP.NET API.
						We also use the CQRS pattern for the backend and Entity FrameWork to deal with the database. To have a secure indentification of the users, we are using OpenIddict.
						@*TODO : Reformulate*@
					</MudText>
				</MudItem>
				<MudItem Class="div-image">
					<MudImage Fluid="true" Src="images/programming.jpg" />
				</MudItem>
			</MudItem>
		</div>
			<br />
		</div>
</div>

